{% load static %}
<footer>
<p class="headings">INFO<span class="headings">KONTAKTI</span></p>
    <span class="icon"> 
    </span>
</p>
<p><a href="https://marupe.edu.lv/" class="links" id="foot">PAR MUMS</a>
    <span class="icon">
    <a href="https://www.facebook.com/MarupesVG/?locale=lv_LV" target="_blank"><img src="{% static '/css/images/facebook.svg' %}" alt="Facebook" width="30px" class="icons"></a> &nbsp;
    <a href="https://www.instagram.com/marupes_valsts_gimnazija/"><img src="{% static '/css/images/instagram.png' %}" alt="Instagram" width="30px" class="icons"></a>&nbsp;
    </span>
</p>
</footer>