{% load static %}
{% include 'base.html' %}
    <body>
        <div class="container">
        {% include 'header.html' %}  

        {% if messages %}
            <div class="message">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    
        <main>
            
            <div class="TextBox"><h1 class="h1">MVĢ Atrastās mantas</h1>
            <p class="subtag"><i></i> </p></div>
            <script>
                const btnScrollToBottom=document.querySelector("#btnScrollToBottom");
                btnScrollToBottom.addEventListener("click",function(){
                    $("html, body").animate({ scrollTop: $(document).height()-$(window).height() },"slow");
                });
            </script>
            <hr/>
            </div >
                <h2 style=font-size:61px>Kaut ko pazaudēji?</h2>   
                <br/><div align="center"><button class="button" onclick="window.location.href = '/reportLost/'" >Izveidot sludinājumu</button></div>
                <br><div align="center" class="sublink"><a href="/foundList/">Ko citi ir atraduši</a></div><br> 
                
                <h2 style=font-size:61px>Kaut ko atradi?</h2>
                <p class="one"><i></i></p>
                <br/><div align="center"><button class="button" onclick="window.location.href = '/reportFound/'" >Izveido atraduma sludinājumu</button></div>
                <br><div align="center" class="sublink"><a href="/lostlist/">Ko citi ir pazaudējuši</a></div>
                <br>
                

                <br>
                <br>
            </div>            
        </main>
        
        {% include 'footer.html' %}
    </body>

